@{
	ViewBag.Title = "Audio";
}
@model ChatApp.Web.Models.ViewModels.YoutubeDataViewModel
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/Player.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/Games/phaser.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/PlayerGame.js"></script>
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/CSS/Media.css" />
	<script type="text/javascript" src="~/Content/Scripts/prefixfree.min.js"></script>
</head>
<body>
	<div id="mainContainer">
		<div id="upper">
			<div id="player-game"></div>
		</div>
		<div id="center">
			<div id="centerContainer">
				<div id="center-left">
					<h3>Playlists:</h3>
					<div id="playlists-container">
						<ul id="playlists"></ul>
					</div>
				</div>
				<div id="center-center">
					<div id="center-Container">
						<div id="player-container"></div>
					</div>
				</div>
				<div id="center-right">
					<h3>Videos in <span id="span_list_title"></span>:</h3>
					<div id="videos-container">
						<ul id="video-list"></ul>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom">
			<div id="progress-bar">

			</div>
			<div id="control-container">
				<div id="controls">
					<div id="controls-cell">
						<div class="control-img-div" id="btn-previous">
							<img src="~/Content/Images/YoutubePlayer/previous.png" />
						</div>
						<div class="control-img-div" id="btn-playPause">
							<img id="play-pause-icon" src="~/Content/Images/YoutubePlayer/play.png" />
						</div>
						<div class="control-img-div" id="btn-next">
							<img src="~/Content/Images/YoutubePlayer/next.png" />
						</div>
						<div class="control-img-div" id="btn-volumn">
							<img src="~/Content/Images/YoutubePlayer/volumn.png" />
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="overlay" class="game-close">
		<div class="game-container">

		</div>
	</div>
	<script type="text/javascript">
		window.tmpData=@Html.Raw(Json.Encode(Model));
		//load youtube iframe api
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		//create player
		var player = new YouTubePlayer();
		function onYouTubeIframeAPIReady()
		{
			player.init();
		}
		$(function ()
		{
			var playerGame=new PlayerGame("player-game",$("#player-game").width(),$("#player-game").height());
			$("#overlay").click(playerGame.onOverlayClicked.bind(playerGame));
		});
	</script>
</body>
</html>