<link type="text/css" href="~/Content/CSS/Player.css" rel="stylesheet" />
<div id="player-upperbar"></div>
<div id="player-centerdiv">
	<div id="player-center-left"></div>
	<div id="player-center-main">
		<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
		<div id="iframe-player"></div>
        <ul id="player-center-main-playlist"></ul>
	</div>
	<div id="player-center-right"></div>
</div>
<div id="player-bottom-control"></div>