<script>
    var pv = new PhotoViewer("72157649853753763");
    pv.loadMorePhoto();

</script>
<link rel="stylesheet" type="text/css" href="~/Content/CSS/PhotoViewer.css" />
<div id="photo-viewer-container">

</div>