@model FlickrNet.PhotosetCollection
<link rel="stylesheet" type="text/css" href="~/Content/CSS/PhotoViewer.css" />
<div id="photo-viewer-toolbar">
    <fieldset>
        <label for="photoset-selection">Select Album:</label>
        <select id="photoset-selection">
            @foreach (FlickrNet.Photoset ps in Model)
            {
                <option value="@ps.PhotosetId">@ps.Title</option>
            }
        </select>
    </fieldset>
</div>
<div id="photo-viewer-container">

</div>

<script type="text/javascript" src="~/Content/Scripts/PhotoViewer/PhotoViewerBehavior.js"></script>