@model ChatApp.Model.LocationTrail

<style type="text/css">
    #map-canvas {
        height: 100%;
        padding: 0;
        border: solid 1px #0f707e;
    }
</style>
<script type="text/javascript">
	function initialize()
	{
		var fLat = parseFloat(@Model.Latitude);
		var fLng = parseFloat(@Model.Longitude);
		var pos = new google.maps.LatLng(fLat, fLng);
		var mapOptions = {
			center: { lat: fLat, lng: fLng },
			zoom: 12
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		var marker = new google.maps.Marker({
			map: map,
			draggable: false,
			animation: google.maps.Animation.DROP,
			position: pos
		});
		google.maps.event.addListener(marker, 'click', toggleBounce);
		function toggleBounce()
		{

			if (marker.getAnimation() != null)
			{
				marker.setAnimation(null);
			} else
			{
				marker.setAnimation(google.maps.Animation.BOUNCE);
			}
		}
	}
</script>
<div id="map-canvas"></div>