<div id="newsContainer">
	<div id="newsContainerInner">
		<div class="newsBoxNormal">

		</div>
		<div class="newsBoxNormal">

		</div>
		<div class="newsBoxNormal">
			<img src="~/Content/Images/tnb.jpg" class="shadow" />
		</div>
		<div class="newsBoxVideo">

		</div>
		<div class="newsBoxList">

		</div>
	</div>
</div>

