@{
    ViewBag.Title = "MineSweeper";
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/Games/phaser.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/Games/phaser-compat-2.4.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/Games/EZGUI.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/Queue.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/Games/MineSweeper/Minesweeper.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/prefixfree.min.js"></script>
	<style>
		body
		{
			margin:0;
			padding:50px;
			background-color:cadetblue;
		}
	</style>
</head>
<body>
	<div id="minesweeper-container">
		
	</div>
</body>
</html>