body {
}

.hidden
{
	display:none;
}

.rowCommands
{
	
}

.baoziRow:hover .rowCommands
{
	opacity:1;
}
.baoziRow .rowCommands
{
	opacity:0;
	transition:opacity 200ms;
}

.rowCommands img
{
	width:26px;
	height:26px;
}

.rowCommands div
{
	float:left;
	text-align:center;
}