body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: white;
}

.hidden {
	display: none;
}

#mainContainer {
	width: 100%;
	height: 100%;
}

#upper {
	width: 100%;
	height: 15%;
}

#center {
	width: 100%;
	height: 70%;
}

#bottom {
	width: 100%;
	height: 15%;
}

.game-container {
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	margin:0 auto;
	overflow: hidden;
}

.game-frame {
	width: 1000px;
	height: 600px;
}

.game-open {
	width:100vw;
	height:100vh;
}

.game-close
{
	width:0;
	height:0;
}

#player-game {
	width: 100%;
	height: 100%;
}

#centerContainer {
	width: 100%;
	height: 100%;
}

#center-left {
	height: 100%;
	float: left;
	width: 15%;
	min-width: 150px;
}

#center-center {
	height: 100%;
	float: left;
	width: 60%;
	min-width: 480px;
}

#center-right {
	height: 100%;
	float: left;
	width: 25%;
	min-width: 250px;
}

#playlists-container, #videos-container {
	overflow: auto;
}

#center-Container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#player-container {
	width: 100%;
	height: 100%;
}

#progress-bar {
	position: absolute;
	background-color: aqua;
	z-index: -1;
}

#control-container {
	position: absolute;
	display: table;
}

#controls {
	vertical-align: middle;
	display: table-cell;
}

#controls-cell {
	width: 60%;
	height: 64px;
	margin: 0 auto;
	text-align: center;
}

.control-img-div img {
	width: 64px;
	height: 64px;
	transition: width 0.5s,height 0.5s;
}

.control-img-div {
	width: 64px;
	height: 64px;
	margin: 0 10px;
	display: inline-block;
}

	.control-img-div img:hover {
		width: 80px;
		height: 80px;
	}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(192,192,192,0.7);
	display: table;
    transition: width ease-in-out 1s,height ease-in-out 1s;
}

.clear {
	clear: both;
}
