#photo-viewer-container {
    background-color: #EEEEEE;
}

#imgLoad {
    position: fixed;
    bottom: 0;
    left: 40%;
    display: none;
}

.box {
    margin: 5px;
    padding: 3px;
    display:inline-block;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.photo-item-img
{
    transition: opacity .4s ease-in-out;
}

.photo-item-img:hover
{
    opacity:0.7;
}

.box:hover
{
    border:solid 2px grey;
}