body {
    margin:0px;
    padding:0px;
    background: url("img/bg_maincontainer.jpg") repeat #01090c top center;
}
.hidden
{
    display:none;
}
html{
	height:100%;
	width:100%;
    color:white;
}
fieldset
{
    border:solid 1px #0f707e;
}
.whole-page
{
    height:100vh;
    width:100vw;
    /*background-color:lightblue;*/
}
#UpperBarContainer
{
    height:15vh;
    /*background-color:lightcoral;*/
}
#ubLeft
{
    float:left;
    height:100%;
    width:30%;
    /*background-color:lightcyan;*/
}
#ubRight
{
    float:right;
    height:100%;
    width:20%;
    /*background-color:lightgoldenrodyellow;*/
}
#NavMenu
{
    float:left;
    /*background-color:lightgray;*/
    /*background: url("img/bg_nav.png") repeat #0a4651;*/
    width:15vw;
    height:85vh;
}
#NavMenu .ui-widget-content
{
    border-style:solid;
    border-color:#0f707e;
    background:none;
    color:white;
}
#mainContentContainer
{
    float:right;
    /*background-color:lightpink;*/
    height:85vh;
    width:85vw;
	overflow:auto;
}
#mainContentContainer>div
{
    margin-left:10px;
}
#menu a
{
    text-decoration:none;
    display:block;
}
#menu li
{
    padding:15px;
}
#menu .ui-state-focus
{
    background: #07343c repeat-x 50% 50%;
    color: #02e0f8;
}
.editor-label:not(.checkbox):after
{
	content:":";
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0;
     top: 0;
     width:100vw;
     height:100vh;
     text-align:center;
     z-index: 1000;
	 background-color:rgba(0,0,0,0.7);
     display:table;
}

#overlay div {
     display:table-cell;
     text-align:center;
     vertical-align:middle;
	 z-index:1001;
}

.input-validation-error {
 border: 1px solid #f00;
 background-color: #fee;
}

.validation-summary-errors {
 font-weight: bold;
 color: #f00;
}

.newsBoxNormal {
	margin:0 20px;
	width: 20%;
	height:40%;
	float: left;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background:white;
}
.newsBoxNormal img
{
	width:100%;
	height:100%;
}
.shadow {
  box-shadow: 0 0 7px #011933;
}

#newsContainer {
	width: 90%;
	height: 100%;
	padding: 10px 50px;
	margin: 0;
	display: table;
	-ms-align-content: center;
	-webkit-align-content: center;
	align-content: center;
	vertical-align:middle;
	background-color:ActiveCaption;
}
#newsContainerInner
{
	width:80%;
	height:80%;
	background-color:aliceblue;
	display:table-cell;
}