body {
    margin:0px;
    padding:0px;
}
.hidden
{
    display:none;
}
html{
	height:100%;
	width:100%;
}
body>div
{
    height:100vh;
    width:100vw;
    background-color:lightblue;
}
#UpperBarContainer
{
    height:15vh;
    background-color:lightcoral;
}
#ubLeft
{
    float:left;
    height:100%;
    width:30%;
    background-color:lightcyan;
}
#ubRight
{
    float:right;
    height:100%;
    width:20%;
    background-color:lightgoldenrodyellow;
}
#NavMenu
{
    float:left;
    background-color:lightgray;
    width:15vw;
    height:85vh;
}
#mainContentContainer
{
    float:right;
    background-color:lightpink;
    height:85vh;
    width:85vw;
}
#menu a
{
    text-decoration:none;
    display:block;
}

.editor-label:not(.checkbox):after
{
	content:":";
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0;
     top: 0;
     width:100vw;
     height:100vh;
     text-align:center;
     z-index: 1000;
	 background-color:rgba(0,0,0,0.7);
     display:table;
}

#overlay div {
     display:table-cell;
     text-align:center;
     vertical-align:middle;
	 z-index:1001;
}

.input-validation-error {
 border: 1px solid #f00;
 background-color: #fee;
}

.validation-summary-errors {
 font-weight: bold;
 color: #f00;
}