@{
	ViewBag.Title = "Index";
}
@using ChatApp.Web.Models.Chat;

@model List<Chatroom>
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/Chat/Chat.js"></script>
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="~/Content/CSS/Chat/Chat.css" type="text/css" />
</head>
<body>
	<div id="body">
		<div id="content">
			<div id="upper">
				<p>Welcome @HttpContext.Current.User.Identity.Name</p>
			</div>
			<div id="middle">
				@*<section class="content-wrapper main-content clear-fix">

						<div id="console">
						</div>

						<div id="chatControl" value="send">
							<textarea type="text" id="push"></textarea>
							<button id="pushbtn">Send</button>
						</div>
						<div id="info">

						</div>
						<div id="commands_container">

						</div>
					</section>*@
				<div id="rooms">
					<div id="header-table" class="csstable">
						<div class="th">
							<span class="td tdName">Name</span>
							<span class="td tdCount">Number of people</span>
							<span class="td tdPrivate">Is private?</span>
						</div>
					</div>
					<div id="room-list-container">
						<div id="room-list" class="csstable">

							@foreach (Chatroom cr in Model)
							{
								<div class="tr">
									<span class="td tdName">
										@cr.ToString()
									</span>
									<span class="td tdCount">
										12
									</span>
									<span class="td tdPrivate">
										@Html.CheckBox("Is private?", cr.IsPrivate, new { disabled = "disable" })
									</span>
								</div>
							}
						</div>
					</div>
				</div>
				<div id="general-info">

				</div>
				<div id="controls" class="csstable">
					<div id="create_room" class="button tr"><span>Create Room</span></div>
					<div id="join_room" class="button tr"><span>Join Room</span></div>
				</div>
			</div>
			<div id="bottom">

			</div>
		</div>
	</div>
	<div id="create_room_popup" class="hidden">
		<p>
			<input id="is_private" type="checkbox" />
			<label for="is_private">Private?</label>
		</p>
		<p>
			<label for="room_pwd">Create Password:</label>
			<input type="text" id="room_pwd" disabled />
		</p>
	</div>
</body>
</html>