@{
	ViewBag.Title = "InRoom";
}
@using ChatApp.Web.Models.Chat;
@model List<Chatroom>
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/Chat/Chatroom.js"></script>
	<script type="text/javascript" src="https://cdn.ckeditor.com/4.5.4/full/ckeditor.js"></script>
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="~/Content/CSS/Chat/Chat.css" type="text/css" />
	<script>
		$(function ()
		{
			var tabs = $("#message-container").tabs();
			tabs.find(".ui-tabs-nav").sortable({
				axis: "x",
				stop: function ()
				{
					tabs.tabs("refresh");
				}
			});

			var edt=CKEDITOR.replace('input-area');
			var cr = new Illc.Chatroom(edt);
		});
	</script>
</head>
<body>
	<div id="body">
		<div class="upper">

		</div>
		<div class="center">
			<div class="center-left">

			</div>
			<div class="center-center">
				<div id="message-container" class="messages-container overflow">
					<ul>
						@for (int i = 1; i <= 5; i++)
						{
							<li><a href="#room-@i">Room - @i</a></li>
						}
					</ul>
					@for (int i = 1; i <= 5; i++)
					{
						<div id="room-@i">
							lalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalalffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
							lalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalal
							alalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalala
							llalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallala
							lalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalal
							allalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallal
							alalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalala
							lallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalalla
							lalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalal
							alallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalalalalall
							alalalalallalalalalallalalalalallalalalalallalalalalallalalalalallalala
							lalallalala
							lalallalala
							lalallalala
							lalallalala
							lalallalala
							lalallalala
							lalallalala
							lalallalala
						</div>
					}
				</div>
				<div class="input-container">
					<div class="inputarea">
						<form>
							<textarea name="input-area" id="input-area" rows="10" cols="80"></textarea>
						</form>
					</div>
				</div>
			</div>
			<div class="center-right overflow">
				<div id="users-list">

				</div>
			</div>
		</div>
		<div class="bottom">

		</div>
	</div>
</body>
</html>