<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link href="~/Content/CSS/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div>
        <div>
            @{Html.RenderPartial("_UpperBar");}
        </div>
        <div>
            @{Html.RenderPartial("_NavMenu");}
        </div>
        <div id="mainContentContainer">
            @RenderSection("mainContent")
        </div>
        <footer></footer>
    </div>
    <script type="text/javascript" src="~/Content/Scripts/Layout.js"></script>
</body>
</html>
