<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/CSS/Media.css" />
	<script type="text/javascript" src="~/Content/Scripts/prefixfree.min.js"></script>
</head>
<body>
	<div id="mainContainer">
		<div id="upper"></div>
		<div id="center">
			<div id="centerContainer">
				<div id="center-left">
					<h3>Playlists:</h3>
				</div>
				<div id="center-center"></div>
				<div id="center-right">
					<h3>Videos:</h3>
				</div>
			</div>
		</div>
		<div id="bottom"></div>
	</div>
</body>
</html>
