<div id="NavMenu">
    <ul id="menu">
        <li data-index=""><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("CurrentLocation","Location")">Where am I</a></li>
        <li><a href="@Url.Action("Index","Home")">Media Gallery</a></li>
        <li><a href="@Url.Action("Index","Home")">Other Resources</a></li>
    </ul>
</div>