@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
</head>
<body>
	<div style="width:100vw;height:100vh;">
		<div id="game-container" style="text-align:center">
			<iframe src="@Url.Action("testp","test")"
					style="width:1000px;height:600px;margin:0 auto;overflow:hidden"
					scrolling="no" seamless="seamless" align="middle"></iframe>
		</div>
	</div>
</body>
</html>
