@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
	<script src="~/Content/Scripts/Games/phaser.js"></script>
	<script src="~/Content/Scripts/Games/PhaserTest/Game.js"></script>
</head>
<body>
		<script type="text/javascript">

		window.onload = function ()
		{

			var game = new Game();
			game.init(window.innerWidth, window.innerHeight);
		};
		</script>
</body>
</html>
