@using ChatApp.Web.Models
@model List<BaoziCollection>

@{
	ViewBag.Title = "Admin";
	Layout = "~/Views/Shared/_baoziLayout.cshtml";
}

<div class="baoziContainer">
	<div class="baoziLeft">
		<ul>
			@foreach (BaoziCollection b in Model)
			{
				<li data-baoziid="@b.Id">@b.OrderDate.ToShortDateString()</li>
			}
		</ul>
		<div class="baoziMenu">
			<button id="btn_addNewBaozi">Add</button>
		</div>
	</div>
	<div class="baoziRight">
		<table>
			<thead>
				<tr>
					<th>Buyer</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Count > 0)
				{
					foreach (BaoziEntry be in Model[0])
					{
						<tr>
							<td>@be.Buyer</td>
							<td>@be.Quantity</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>

	<div id="div_addBaozi" class="hidden">
		@using (Html.BeginForm("Admin","Baozi",FormMethod.Post))
		{
			<table id="tbl_baozi">
				<tbody></tbody>
			</table>
		}
	</div>
</div>
